/* css geral */
header {
    background: #f1c40f;
    min-height: 65px;
    position: fixed;
    width: 100%;
}
nav li {
    border-radius: 6px;
    display: inline-block;
    margin: 0 0 0 15px;
}
main {
    padding-top: 122px ;
    padding-bottom: 23px ;
    background: #dfe4ea;
}
footer {
    background: #4b4b4b;
    min-height: 100px;
}
#topo {
    padding: 15px 0 15px 0;
    position: relative;
    width: 940px;
    margin: 0 auto;
    display: flex;
}
#menu {
    position: absolute;
    top: 43%;
    right: 0;
}
#conteudo {
    border-radius: 16px;
    width: 940px;
    min-height: 500px;
    margin: 0 auto;
    padding-bottom:  19px;
    background: #f1f2f6;
}
.logo-principal {
    height: 60px;
    display: inline-block;
}
.slogan-principal {
    border-radius: 6px;
    margin: 16px 0 0 10px;
    padding: 5px 5px 0 4px;
    background: #0063666c;
    height: 30px;
    color: #F8EFBA;
    display: inline;
    font-size: 25px;
    font-family: 'Courier New';
}
.item-menu {
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f2f6;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Courier New';
    padding: 6px;
}
.item-menu:hover {
    color: #24614d;
}
.img-modelo{
    text-align: center;
    padding-top: 15px;
}
#escolha{
    text-align: center;
    border-radius: 6px ;
}
.menu-imagens{
    cursor: pointer;
    display: inline-block;
}
.menu-imagens:hover{
    opacity: 75%;
}
.titulo {
    padding: .7em;
    font-size: 35px;
    font-weight: bold;

}
.texto{
    padding: .7em;
    font-size: 18px ;
    text-justify: auto;
    margin: 10px;
}
/* css lista */
#conteudo li{
    padding: .7em;
	margin-top: 10px;
	border: 1px solid #ccc;
	text-align: center;
}
/* css tabela */

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th{
	padding: .7em;
	margin: 6px;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.titulo-itens h1{
    padding-top: 6px ;
	font-size: 2em;
    text-align:	center;
    margin-bottom: 10px;
}